{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],

  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier"
  ],

  "rules": {
    "no-return-await": "warn",
    "import/no-unresolved": "off",
    "import/newline-after-import": ["warn", { "count": 1 }],
    "import/order": [
      "warn",
      {
        "newlines-between": "always",
        "groups": [["builtin", "external", "internal"], ["parent", "sibling"], "index", "object"]
      }
    ]
  }
}
